<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ProductMapper">
    
    <resultMap id="ProductResultMap" type="com.shop.entity.Product">
        <id column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="pname" jdbcType="VARCHAR" property="pname"/>
        <result column="sprice" jdbcType="DECIMAL" property="sprice"/>
        <result column="cprice" jdbcType="DECIMAL" property="cprice"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="pdesc" jdbcType="VARCHAR" property="pdesc"/>
        <result column="is_hot" jdbcType="TINYINT" property="isHot"/>
        <result column="pdate" jdbcType="TIMESTAMP" property="pdate"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid, pname, sprice, cprice, pic, pdesc, is_hot, pdate, number
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ProductResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM zk_product
        WHERE pid = #{pid,jdbcType=INTEGER}
    </select>

    <select id="listProduct" resultMap="ProductResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM zk_product
        ORDER BY pdate DESC
    </select>

    <select id="findByPname" resultType="com.shop.entity.Product">
        SELECT <include refid="Base_Column_List"/>
        FROM zk_product
        WHERE pname LIKE CONCAT('%', #{value}, '%')
    </select>

    <select id="frontlistNew" resultType="com.shop.entity.Product">
        SELECT <include refid="Base_Column_List"/>
        FROM zk_product
        ORDER BY pdate DESC
        LIMIT 10
    </select>

    <select id="frontlistHot" resultType="com.shop.entity.Product">
        SELECT <include refid="Base_Column_List"/>
        FROM zk_product
        WHERE is_hot = 1
        LIMIT 5
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM zk_product
        WHERE pid = #{pid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.shop.entity.Product">
        INSERT INTO zk_product (pname, sprice, cprice, pic, pdesc, is_hot, pdate, number)
        VALUES (#{pname,jdbcType=VARCHAR}, #{sprice,jdbcType=DECIMAL}, #{cprice,jdbcType=DECIMAL},
                #{pic,jdbcType=VARCHAR}, #{pdesc,jdbcType=VARCHAR}, #{isHot,jdbcType=TINYINT},
                NOW(), #{number,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.shop.entity.Product">
        INSERT INTO zk_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">pid,</if>
            <if test="pname != null">pname,</if>
            <if test="sprice != null">sprice,</if>
            <if test="cprice != null">cprice,</if>
            <if test="pic != null">pic,</if>
            <if test="pdesc != null">pdesc,</if>
            <if test="isHot != null">is_hot,</if>
            <if test="pdate != null">pdate,</if>
            <if test="number != null">number,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="pid != null">#{pid,jdbcType=INTEGER},</if>
            <if test="pname != null">#{pname,jdbcType=VARCHAR},</if>
            <if test="sprice != null">#{sprice,jdbcType=DECIMAL},</if>
            <if test="cprice != null">#{cprice,jdbcType=DECIMAL},</if>
            <if test="pic != null">#{pic,jdbcType=VARCHAR},</if>
            <if test="pdesc != null">#{pdesc,jdbcType=VARCHAR},</if>
            <if test="isHot != null">#{isHot,jdbcType=TINYINT},</if>
            <if test="pdate != null">#{pdate,jdbcType=TIMESTAMP},</if>
            <if test="number != null">#{number,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.shop.entity.Product">
        UPDATE zk_product
        <set>
            <if test="pname != null">pname = #{pname,jdbcType=VARCHAR},</if>
            <if test="sprice != null">sprice = #{sprice,jdbcType=DECIMAL},</if>
            <if test="cprice != null">cprice = #{cprice,jdbcType=DECIMAL},</if>
            <if test="pic != null">pic = #{pic,jdbcType=VARCHAR},</if>
            <if test="pdesc != null">pdesc = #{pdesc,jdbcType=VARCHAR},</if>
            <if test="isHot != null">is_hot = #{isHot,jdbcType=TINYINT},</if>
            <if test="pdate != null">pdate = #{pdate,jdbcType=TIMESTAMP},</if>
            <if test="number != null">number = #{number,jdbcType=INTEGER},</if>
        </set>
        WHERE pid = #{pid,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.shop.entity.Product">
        UPDATE zk_product
        SET pname = #{pname,jdbcType=VARCHAR},
            sprice = #{sprice,jdbcType=DECIMAL},
            cprice = #{cprice,jdbcType=DECIMAL},
            pic = #{pic,jdbcType=VARCHAR},
            pdesc = #{pdesc,jdbcType=VARCHAR},
            is_hot = #{isHot,jdbcType=TINYINT},
            number = #{number,jdbcType=INTEGER}
        WHERE pid = #{pid,jdbcType=INTEGER}
    </update>

    <update id="subProductNumber" parameterType="java.util.Set">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE zk_product
            SET number = number - #{item.number}
            WHERE pid = #{item.pid} AND number >= #{item.number}
        </foreach>
    </update>

</mapper>
